/* Global*/
:root {
  /* Color */
  --white: #ffffff;
  --light-brown: #bcaaa4;
  --chocolate-brown: #8d6e63;
  --dark-brown: #795548;
  --dark-yellow: #ffd95b;
  --deep-dark-yellow: #c77800;
  --light-yellow: #ffe0b2;
  --dark-pink: #c48b9f;

  /* Font size */
  --large: 48px;
  --semi-large: 32px;
  --medium: 28px;
  --regular: 18px;
  --small: 16px;
  --micro: 14px;

  /* Font weight */
  --bold: 700;
  --semi-bold: 600;

  /* Size */
  --border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: "Nanum Myeongjo", serif;
}

body {
  margin: 0;
  curosr: default;
}

a {
  text-decoration: none;
  font-size: var(--regular);
  color: var(--dark-brown);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: var(--semi-large);
  font-weight: var(--regular);
  padding: 20px;
  margin: 12px 0px;
  margin: auto;
}

h2 {
  font-size: var(--regular);
  font-weight: var(--semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--regular);
  font-weight: var(--regular);
  margin: 8px 0;
}

p {
  font-family: "Nanum Myeongjo", serif;
  font-size: var(--small);
  font-weight: var(--regular);
  margin: 4px 0;
}

/* Section */
.section {
  padding: 50px;
  text-align: center;
  max-widgth: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-color: var(--light-brown);
}

/** Linked to Js */
#navbar.navbar__dark {
  background-color: var(--dark-yellow);
  padding: 2px;
  opacity: 0.5;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--medium);
  padding-left: 15px;
}

.navbar__author {
  color: white;
}

.navbar__menu__items {
  padding: 4px 8px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: var(--white);
}

.navbar__menu__items.active {
  border: 1px solid white;
}

.navbar__menu__items:hover {
  color: var(--chocolate-brown);
}

/* Default */
#default {
  background-color: var(--light-brown);
  text-align: center;
  padding: 40px;
}

.default__title:hover {
  color: var(--dark-yellow);
  transform: rotate(-10deg) scale(1.5);
  padding: 8px;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 16px;
}

/* About */
#about {
  padding: 40px 180px;
  background-color: var(--light-yellow);
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.major__icon {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px;
  border-radius: 50%;
  margin-bottom: 16px;
}

#frontend_icon:hover i {
  color: #1e88e5;
  transform: rotate(100deg) scale(1.3);
}

#mobile_icon:hover i {
  color: #8e8e8e;
  transform: rotate(100deg) scale(1.3);
}

#backend_icon:hover i {
  color: #ffbd45;
  transform: rotate(100deg) scale(1.3);
}

#qa_icon:hover i {
  color: #519657;
  transform: rotate(100deg) scale(1.3);
}

.major__description {
  font-size: var(--small);
}

.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 70px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name {
  font-size: var(--small);
}

.job__period {
  font-size: var(--micro);
}

/* Work */
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  padding: 8px;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(300ms) ease-in;
  color: white;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--white);
}

/* Testimonial */

#testimonial {
  background-color: var(--dark-pink);
}

.testimonial__speach {
  font-size: var(--regular);
  align-items: left;
}

.name {
  color: var(--white);
}
