/* Global*/
:root {
  /* Color */
  --white: #ffffff;
  --neutral-purple: #c0b3c2;
  --vivid-purple: #e6ceff;

  /* Font size */
  --large: 48px;
  --medium: 28px;
  --regular: 18px;
  --small: 16px;
  --micro: 14px;

  /* Font weight */
  --bold: 700;
  --semi-bold: 600;
  --regular: 400;

  /* Size */
  --border-radius: 4px;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  curosr: default;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--large);
  font-weight: var(--bold);
  margin: 16px 0;
}

h2 {
  font-size: var(--regular);
  font-weight: var(--semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--regular);
  font-weight: var(--regular);
  margin: 8px 0;
}

p {
  font-size: var(--regular);
  font-weight: var(--regular);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-purple);
  align-items: center;
  color: var(--white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--small);
}

.navbar__menu__items {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.navbar__menu__items.active {
  border: 1px solid white;
}

.navbar__menu__items:hover {
  background-color: var(--vivid-purple);
}
