Global :root {
  /* Color */
  --white: #ffffff;

  /* Font size */
  --large: 48px;
  --medium: 28px;
  --regular: 18px;
  --small: 16px;
  --micro: 14px;

  /* Font weight */
  --bold: 700;
  --semi-bold: 600;
  --regular: 400;

  /* Size */
}

/* Universal tags */

* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: var(--large);
  font-weight: var(--bold);
  margin: 16px 0;
}

h2 {
  font-size: var(--regular);
  font-weight: var(--semi-bold);
  margin: 8px 0'
}

h3 {
    font-size: var(--regular);
    font-weight: var(--regular);
    margin: 8px 0;
}

p {
    font-size: var(--regular);
    font-weight: var(--regular);
    margin: 4px 0;
}
